.p-t-tres-container{
    width: 80%;
    margin: 0 auto;
    min-height:530px;
    border: 7px solid rgb(243, 2, 2);
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to right,  #f00808fa, #002df7cc, #f00808fa); 
    font-weight: bolder;
    
    
    
    }
    p{
        color: rgb(28, 241, 9);
        font-weight:bold
    }
    form{
        width: 80%;
    margin: 0 auto;
    
    border: 7px solid rgb(243, 2, 2);
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to right,  #cdf008fa, #002df7cc, #f0c508fa); 
    font-weight: bolder;
        
    }
    

   
   
    
  



    
   


