.p-t-tres-container{
    width: 80%;
    margin: 0 auto;
    min-height:530px;
    border: 5px solid rgb(236, 34, 34);
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #fae100e7, #002df7cc, #f00808fa); 
   
    
  



    
   


}