.sb-dos-container{
    width: 80%;
    margin: 0 auto;
    min-height:570px;
    border: 5px solid rgb(14, 14, 223);
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #ee0808, #ffee00cc, #082bf0e3); 
    
   
    
    
   


}
h1{
    color: rgb(3, 3, 3);
    text-transform:capitalize;
    background: linear-gradient(to right, #0832ee88, #00f7ffcc, #f00827e3); 
}
table{
    width: 80%;
    margin: 0 auto;
    min-height:70px;
    border: 5px solid rgb(14, 14, 223);
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #ee0808, #006effcc, #f02b08e3); 

}